USER =
PASSWORD =
TOKEN = 'vk1.a.ANHGekoIKtlw7E7M8_EwtAry5mib578GD9r9iTlUUaHq7rx5UNh73gTavegLnVQbUStxFnhBsPd3xbxvQIQnF6_78rJZsT2g3-Q4h5CKLZb8Cti94yYODyVPoBPjkfGfYw9hqMYLiBbBWXhrSJlRlo93EZRJdt9hp9tjgh4ukVEUgx63eh5mOcsiQ-Ra4Ilo'
VK_ID =
NAME =
HREF =
SELECT_ID =
SEX =
AGE =
CITY = 'Moscow'