USER =
PASSWORD =
TOKEN = 'vk1.a.ANHGekoIKtlw7E7M8_EwtAry5mib578GD9r9iTlUUaHq7rx5UNh73gTavegLnVQbUStxFnhBsPd3xbxvQIQnF6_78rJZsT2g3-Q4h5CKLZb8Cti94yYODyVPoBPjkfGfYw9hqMYLiBbBWXhrSJlRlo93EZRJdt9hp9tjgh4ukVEUgx63eh5mOcsiQ-Ra4Ilo'
VK_ID = '204323306'
NAME =
HREF =
SELECT_ID = '211111112'
SEX =
AGE =
CITY =
TOKEN2 = 'vk1.a.y13KvoIN053KdMj1OpyZjIc-ZSKTzLXBr7rou-iVGAi5PSOxJSLY123B-HQ5IvPgNXIGMP3atxuj-bqH_F7w27oF0eRbfbGYnscupFzPILEShhCwpfUvkfqshfJJwu43j5hKdmpOHrxHIN6mqym6Pc76V_M4zlL_H2cL_hOxruQCf1rNikmXI1ooXGeXm5g1'
L_VK_ID = '611864369' #leonid
T_VK_ID = '552934290' # test
LL_VK_ID = '249815131'  #liliya
M_VK_ID = '7312956' #michail
N_VK_ID = '214792702'